/* File to set the page so it looks like github */
.github-simulator {
  background-color: #0d1117;
  color: #f0f6fc;
}

/* Grid */
.subdivision_main {
  display: grid;
  grid-template-columns: 1f; 
  grid-template-rows: 60px 0.7fr 1.3fr 1fr 2fr 0.6fr 0.2fr;
  
}
