/* ######################################## Heading ######################################## */
/* The heading, "#" equivalent of markdown */
.header-text {
  font-size: 21px;
}
/* Dirty hack to do that line from the "#" that I don't remember how are done */
.mark_line {
  border-width: 1px;
  border-color: #2e343d #1c2128; 
  position: relative;
  bottom: 17px;
}

/* ######################################## About me  ######################################## */
/* Brief introduction about me */
/* About me box */
.about_me_box {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Just to say "about me" */
.about_me_header {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
/* Main text about me */
.about_me_main {
  font-size: 14px;
}

/* ######################################## Abilities ######################################## */   
/* Title of the section */
.abilities_section_title {
  font-size: 16px;
}

/* New three boxes (new grid) */
.abilities_sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5px;
  padding-right: 5px;
}
/* What I know section */
.what_I_know_section {
  border-style: solid;
  border-color: #2e343d; 
  border-width: 1px;
}
/* What I am currently learning section */
.cooking_section {
  border-style: solid;
  border-color: #2e343d; 
  border-width: 1px;
}
/* What are my future objectives to masterize */
.unlock_section {
  border-style: solid;
  border-color: #2e343d; 
  border-width: 1px;
}

/* known grid */
.title_known {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
}
.content_known {
  font-size: 12px;
}

/* cooking grid */
.title_cooking {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
}
.content_cooking {
  font-size: 12px;
}

/* future grid */
.title_future {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
}
.content_future {
  font-size: 12px;
}

/* ######################################## Spices ######################################## */   
/* Hacking */

/* ######################################## Brief CV ######################################## */   
/* CV and setup grid */
.cv_and_interests_setup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* CV grid, two options: cv and interests */
.cvinterests {
  display: grid;
  grid-template-rows: 1fr 1fr; 
}

/* Custom titles */
.setup_titles {
  font-size: 16px;
  font-weight: bold;
}

.setup_titles {
  font-size: 16px;
  font-weight: bold;
}
/* CV customization */
.cv_setup {
  padding: 10px;
  font-size: 14px;
}
/* Personal interests*/

.interests_setup {
  padding: 10px;
  font-size: 14px;
}
/* Current setup */
.setup_setup {
  border-style: solid;
  border-radius: 20px;
  border-color: #2e343d; 
  padding: 10px;
  font-size: 14px;
}


/* ######################################## Fun Facts ######################################## */   
/* Title of the fun facts */
.fun_facts_title {
  font-size: 16px;
  font-weight: bold; 
}
.fun_facts_info {
  font-size: 14px;
  font-weight: normal;
}

/* ######################################## Contact ######################################## */   


